src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="register-covid-caseFlow" doc:id="7d7dacd8-25f9-48a9-af19-9d9304aef0ec" >
		<ee:transform doc:name="Transform Message" doc:id="aeb3d859-5235-4a79-855f-328372c4d462" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	source__c: payload.source,
	caseType__c: payload.caseType,
	firstName__c: payload.firstName,
	lastName__c: payload.lastName,
	phone__c: payload.phone,
	email__c: payload.email,
	dateOfBirth__c: payload.dateOfBirth,
	nationalId__c: payload.nationalId,
	nationalIdType__c: payload.nationalIdType,
	streetAddress__c: payload.address.streetAddress,
	city__c: payload.address.city,
	state__c: payload.address.state,
	postal__c: payload.address.postal,
	country__c: payload.address.country
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="f7d63fff-d3ff-4a61-8346-cc576769b1ed" type="caseId__c" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d1c769be-b7f5-44a9-8e48-af07a46899ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  caseId: payload.items.id
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
